body {
    background: linear-gradient(to bottom ,rgb(0, 0, 255), rgb(85, 0, 170),rgb(170, 0, 85),rgb(255, 0, 0));
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

h1,h2,h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.galeria-meses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.mes-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
    width: 90%;
}

.mes-container > img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.bolinhas {
    text-align: center;
    padding: 10px 0;
}

.bolinha {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.bolinha.ativa, .bolinha:hover {
    background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0.8s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}